.login_panel {
  width: 40%;
  margin: 150px auto;
  text-align: center;
  padding: 20px;
}

.login_panel h1 {
  padding-bottom: 20px;
}
.header {
  background-color: #0269c2;
  text-align: center;
}

.header   h1 {
    color: white;
  }
