.login_panel {
	width: 40%;
	margin: auto;
	text-align: center;
	padding: 20px;
}

.header {
	background-color: #0269C2;
}

.header h1 {
}

.logo, .logout {
	display: inline-block;
	color: white;
}

.logout button {
	display: inline-block;
}